
@font-face {
  font-family: 'FuturaPT-Bold';
  src: url('FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),  url('FuturaPT-Bold.woff') format('woff'), url('FuturaPT-Bold.ttf')  format('truetype'), url('FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
